<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation"/>

    <uses-permission android:name="androidx.car.app.IOT_TEMPLATES"/>
    <uses-feature android:name="android.hardware.type.automotive" android:required="false"/>

    <application android:icon="@drawable/pev_hud_icon" android:roundIcon="@drawable/pev_hud_icon" android:requestLegacyExternalStorage="true" android:allowBackup="true" android:usesCleartextTraffic="true" android:label="@string/app_name" android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc"/>
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".car.VotolCarService" android:exported="true" android:label="@string/app_name" android:icon="@drawable/pev_hud_icon" android:roundIcon="@drawable/pev_hud_icon">

            <intent-filter>
                <action android:name="androidx.car.app.CarAppService"/>
                <category android:name="androidx.car.app.category.IOT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="androidx.car.app.action.IOT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="geo"/>
            </intent-filter>

            <meta-data android:name="androidx.car.app.minCarApiLevel" android:value="1"/>
        </service>
    </application>
</manifest>
